In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:/Users/ashok/Downloads/df_anscombe.csv")
df.head()

      x     y  group
0  10.0  8.04      1
1   8.0  6.95      1
2  13.0  7.58      1
3   9.0  8.81      1
4  11.0  8.33      1